@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

input, textarea {
  @apply border border-slate-300 rounded-md px-3 py-2 w-full;
}

button {
  @apply rounded-md px-4 py-2;
}
